@import "./Utils/fonctions";
@import "./Utils/mixins";
@import "./Utils/variables";
@import "./Base/fonts";
@import "./Base/base";
@import "./Composants/boutons";
@import "./Composants/badges";
@import "./Layout/header";
@import "./Layout/footer";

.ville {
  @include vertical-centre-content;
  padding: 1rem;
  column-gap: 1rem;
  background-color: #eaeaea;
  box-shadow: 0px 4px 6px 0px #b3b3b3 inset;
}
.presentation {
  @include vertical-centre-content;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 3rem;
  row-gap: 2rem;
  &__header {
    @include vertical-centre-content;
    flex-direction: column;
    row-gap: 1rem;

    &__title {
      font-weight: bold;
      text-align: center;
    }
    &__subtitle {
      text-align: center;
      color: $text-gris;
    }
  }
}

.fonctionnement {
  @include vertical-start-content;
  flex-direction: column;
  padding: 3rem;
  row-gap: 1rem;
  &__title {
  }
  &__menus {
    @include vertical-centre-content;
    flex-direction: column;
    row-gap: 24px;
    padding: 10px;
  }
}

.restaurants {
  display: grid;
  row-gap: auto repeat (3, 1fr);
  row-gap: 1rem;
  padding: 3rem;
  background-color: $fond-gris;
}
.restaurants-cartes {
  @include ombre-2;
}
.carte-menu {
  display: grid;
  grid-template-rows: 174px 78px;
  background-color: white;
  border-radius: 1rem;
  position: relative;

  &__figure {
    position: relative;
    overflow: hidden;
    @include vertical-centre-content;
    @include bordure;

    img {
    }
  }

  &__body {
    @include vertical-start-content;
    flex-direction: column;
    row-gap: 5px;
  }

  &__title {
    font-weight: bold;
  }
  &__subtitle {
    color: $text-gris;
  }
  &__header {
    padding: 18px 12px;
    @include vertical-centre-content;
    justify-content: space-between;

    i {
      font-size: 22px;
      cursor: pointer;
      -webkit-text-stroke-width: 1.5px;
      -webkit-text-stroke-color: black;
      color: white;

      &:hover {
        background: -webkit-linear-gradient(
          162deg,
          rgba(255, 121, 218, 1) 0%,
          rgba(147, 86, 220, 1) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0;
      }
    }
  }
}
