@import "./Utils/fonctions";
@import "./Utils/mixins";
@import "./Utils/variables";
@import "./Utils/keyframes";
@import "./Base/fonts";
@import "./Base/base";
@import "./Composants/boutons";
@import "./Composants/badges";
@import "./Composants/cartes";
@import "./Layout/header";
@import "./Layout/footer";

.heroheader {
  height: 260px;
}
.ville {
  @include vertical-centre-content;
  padding: 1rem;
  column-gap: 1rem;
  background-color: #eaeaea;
  box-shadow: 0px 4px 6px 0px #b3b3b3 inset;
}
.presentation {
  @include vertical-centre-content;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 3rem;
  row-gap: 2rem;
  &__header {
    @include vertical-centre-content;
    flex-direction: column;
    row-gap: 1rem;

    &__title {
      font-weight: bold;
      text-align: center;
    }
    &__subtitle {
      text-align: center;
      color: $text-gris;
    }
  }
}

.fonctionnement {
  padding: 3rem;
  row-gap: 1rem;

  &__menus {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    flex-direction: column;
    row-gap: 24px;
    padding: 10px;
  }
}

.restaurants {
  display: grid;
  grid-template-rows: auto repeat (4, 1fr);
  row-gap: 1rem;
  padding: 3rem;
  background-color: $fond-gris;
}
.restaurants-cartes {
  @include ombre-2;
}

.main-menu {
  background-color: $fond-gris;
}
.menu__body {
  width: 100%;
  background-color: $fond-gris;
  padding: 30px 20px;
  border-radius: 2rem 2rem 0 0;
  transform: translateY(-30px);
}
.menu__title {
  @include vertical-centre-content;
  justify-content: space-between;

  h1 {
    @include font-primaire;
  }
}
.choix__title {
  color: $text-gris;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: lighter;
  margin-top: 36px;
  margin-bottom: 26px;
  position: relative;

  &::after {
    content: "";
    height: 2px;
    width: 40px;
    background-color: $couleur-tertiaire;
    position: absolute;
    bottom: -10px;
    left: 0;
  }
}
