@import "./Utils/fonctions";
@import "./Utils/mixins";
@import "./Utils/variables";
@import "./Base/fonts";
@import "./Base/base";
@import "./Composants/boutons";
@import "./Layout/header";

.ville {
  @include vertical-centre-content;
  padding: 1rem;
  column-gap: 1rem;
  background-color: #eaeaea;
  box-shadow: 0px 4px 6px 0px #b3b3b3 inset;
}
.presentation {
  @include vertical-centre-content;
  flex-direction: column;
  margin: 2rem;
  row-gap: 2rem;
  &__title {
    font-weight: bold;
  }
}
