.carte-menu {
  min-width: 334px;
  min-height: 250px;
  display: grid;
  grid-template-rows: 174px 78px;
  background-color: white;
  border-radius: 1rem;
  position: relative;

  &__figure {
    position: relative;
    overflow: hidden;
    @include vertical-centre-content;
    @include bordure;
  }

  &__body {
    @include vertical-start-content;
    flex-direction: column;
    row-gap: 5px;
  }

  &__title {
    font-weight: bold;
  }
  &__subtitle {
    color: $text-gris;
  }
  &__header {
    padding: 18px 12px;
    @include vertical-centre-content;
    justify-content: space-between;
  }
}
