.carte-menu {
  min-height: 250px;
  display: grid;
  grid-template-rows: 174px 78px;
  background-color: white;
  border-radius: 1rem;
  position: relative;

  &__figure {
    position: relative;
    overflow: hidden;
    @include vertical-centre-content;
    @include bordure;
  }

  &__body {
    @include vertical-start-content;
    flex-direction: column;
    row-gap: 5px;
  }

  &__title {
    font-weight: bold;
  }
  &__subtitle {
    color: $text-gris;
  }
  &__header {
    padding: 18px 12px;
    @include vertical-centre-content;
    justify-content: space-between;
  }
}

// carte du menu avec 3 choix
.choix__ensemble {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 14px;
  margin-bottom: 40px;
  -webkit-animation: fade-in 1250ms cubic-bezier(0.73, 0.01, 0.56, 1) both;
  animation: fade-in 1250ms cubic-bezier(0.73, 0.01, 0.56, 1) both;
}
.choix-carte {
  overflow: hidden;
  height: 70px;
  background-color: white;
  border-radius: 1rem;
  @include ombre-2;
  position: relative;
  cursor: pointer;

  &__header {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-flow: wrap;
  }
  &__title {
    width: 80%;
    transition: width 400ms ease-out;

    h3 {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  &__prix {
    margin-right: 10px;
    font-weight: bold;
    transition: transform 400ms ease-out;
  }

  &:hover .select {
    right: 0px;
  }
  &:hover .choix-carte__prix {
    transform: translateX(-80px);
  }
  &:hover .choix-carte__title {
    width: 60%;
  }
  &:hover i {
    transform: rotate(1turn);
  }
  .select {
    @include vertical-centre-content;
    position: absolute;
    top: 0;
    right: -60px;
    width: 60px;
    height: 100%;
    background-color: $couleur-tertiaire;
    transition: all 300ms ease-in-out;
  }
  i {
    color: white;
    font-size: 20px;
    transition: transform 600ms 100ms ease-in-out;
  }
}

.carte-1 {
  -webkit-animation: slide-top 1000ms ease-in-out both;
  animation: slide-top 1000ms ease-in-out both;
}
.carte-2 {
  -webkit-animation: slide-top 1000ms 100ms ease-in-out both;
  animation: slide-top 1000ms 100ms ease-in-out both;
}
.carte-3 {
  -webkit-animation: slide-top 1000ms 200ms ease-in-out both;
  animation: slide-top 1000ms 200ms ease-in-out both;
}
.carte-4 {
  -webkit-animation: slide-top 1000ms 300ms ease-in-out both;
  animation: slide-top 1000ms 200ms ease-in-out both;
}
