*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Roboto", sans-serif;
  min-width: 400px;
  min-width: 400px;
  position: relative;
}
.site {
  animation: site 0.5s 2s both;
}
@keyframes site {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
