@mixin vertical-centre-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin vertical-start-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
